*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Gilroy;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}

#nav{
    height: 100px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav h3{
    font-size: 17px;
    border: 2px solid;
    border-radius: 16px;
    padding: 0 10px;
    font-weight: 500;
}

#nav i{
    font-size: 15px;
    border: 2px solid;
    border-radius: 16px;
    padding: 0 10px;
    font-weight: 500;
}

#nav-part2{
    font-size: 16px; 
    border: 2px solid;
    border-radius: 25px;
    padding: 5px 10px;
    
}

#nav h1{
    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;
}

#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 2px solid;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
}
#nav button:hover
{
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

#btn2{
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
}

#btn2:hover
{    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;

}

#main>h1{
    font-size: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}

img{
    height: 400px;
    width: 370px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%,-50%);
}

#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}

#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}

#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}

#btm-left{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 17px;
}

#link{
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 17px;
}